 <div><h1>EStockMarketApp</h1></div>
 <hr>
<div>
    <button  class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal" type="submit">Add
            Company</button>
    <input name="searchInput" style="margin: 20px;" type="number" [(ngModel)]="comObj.companyCode">
    <button type="button" class="btn btn-info" (click)="getCompanyById(comObj.companyCode)">Search Company By Code </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Company</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <h2>Company Form</h2>

                <div>
                    <form #companyForm="ngForm">

                        <input name="companyCode" class="form-control" type="number" placeholder="Enter company code"
                            [(ngModel)]="comObj.companyCode" required>
                        <br>

                        <input name="companyName" class="form-control" type="text"
                            placeholder="Enter company companyName" [(ngModel)]="comObj.companyName" required>
                        <br>

                        <input name="ceoName" class="form-control" type="text" placeholder="Enter company ceo name"
                            [(ngModel)]="comObj.companyCeo" required>
                        <br>

                        <input name="website" class="form-control" type="text" placeholder="Enter company website"
                            [(ngModel)]="comObj.website" required>
                        <br>

                        <input name="turnover" class="form-control" type="number" placeholder="Enter company turnover"
                            [(ngModel)]="comObj.turnover" required>
                        <br>

                        <input readonly name="stockPrice" class="form-control" type="number"
                            placeholder="Enter company stock price" [(ngModel)]="comObj.stockPrice"
                            required>
                        <br>

                        <button type="button" class="btn btn-primary" (click)="addCompanyDetails()" data-bs-dismiss="modal">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update Company</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <h1>Update Form Fields</h1>

                <div>
                    <form #companyForm="ngForm">

                        <input readonly name="companyCode" class="form-control" type="number" placeholder="Enter company code"
                            [(ngModel)]="editedCompany.companyCode">
                        <br>

                        <input name="companyName" class="form-control" type="text"
                            placeholder="Enter company companyName" [(ngModel)]="editedCompany.companyName" required>
                        <br>

                        <input name="ceoName" class="form-control" type="text" placeholder="Enter company ceo name"
                            [(ngModel)]="editedCompany.companyCeo" required>
                        <br>

                        <input name="website" class="form-control" type="text" placeholder="Enter company website"
                            [(ngModel)]="editedCompany.website" required>
                        <br>

                        <input name="turnover" class="form-control" type="number" placeholder="Enter company turnover"
                            [(ngModel)]="editedCompany.turnover" required>
                        <br>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Company Code</th>
            <th scope="col">Company Name</th>
            <th scope="col">Company CEO</th>
            <th scope="col">Turnover</th>
            <th scope="col">Website</th>
            <th scope="col">Stock Price</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of comArr ">
            <td routerLink="/stockList">{{b.companyCode}}</td>
            <td>{{b.companyName}}</td>
            <td>{{b.companyCeo}}</td>
            <td>{{b.turnover}}</td>
            <td>{{b.website}}</td>
            <td>{{b.stockPrice}}</td>
            
            <td><button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#UpdateStockModal" (click)="addStock(b.companyCode, stockObj)">Add Stock</button></td>
            <td><button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#updateModal" (click)="updateCompany(b)"  type="submit">Update
                Company</button></td>
            <td><button type="button" class="btn btn-danger mx-3" (click)="deleteCompany(b.companyCode)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
</div>

