<p>stock works!</p>
<h1>Welcome to E-StockMarket Application</h1>

<div>
    <form #readerForm="ngForm" (ngSubmit)="addStock(stockObj.comp_code_fk, stockObj)">
       
        <input name="stockPrice" class="form-control" type="number" placeholder="Enter stock price" [(ngModel)]="stockObj.stockPrice" required>
        <br>
        <input name="issueAt" class="form-control" type="string" placeholder="Select the date" [(ngModel)]="stockObj.issueAt" required>
        <br>
        <input name="comp_code_fk" class="form-control" type="number" placeholder="Enter company id" [(ngModel)]="stockObj.comp_code_fk" required>
        <br>
        <button type="submit">Add Stock Details</button>
    </form>
</div>
<hr>
<div *ngFor="let s of stockArr">
    {{s.comp_code_fk}}-->{{s.stockPrice}}-->{{s.issueAt}}
</div>
